<template>
    <div>
        <h1>Tasks</h1>
        <ol>
            <li>Create Specs</li>
            <li>Having Meeting with Tester</li>
            <li>Go Over Proj with Developer</li>
            <li>General Dev - Format</li>
            <li>General Dev - Write File</li>
        </ol>
        <h1>Real Tasks-BugID:{{ bugid }}</h1>
        <h4>{{ test }}</h4>
        <div v-if="projtasks">
        <ol v-for="x in projtasks">
            <li>{{ x.descr }}</li>
            <input type="checkbox" :checked="x.complete" />
        </ol>
        </div>
    </div>
</template>

<script src="./projtask.ts"></script>